<div>
    <mat-toolbar class="nav-top-tool-bar">
        <div fxShow="true" fxHide.gt-md="true">
            <!-- <a href="" (click)="sidenav.toggle();showSideNavBar()"> -->
                <mat-icon style="color: #FFFFFF;" (click)="sidenav.toggle();showSideNavBar()">menu</mat-icon>
            <!-- </a> -->
        </div>
        <h1 class="titleFont" ><a (click)="btnHome()">Heroes Collection</a></h1>

        <span class="example-spacer"></span>

        <div fxShow="true" fxHide.lt-lg="true" style="width: 100%;">
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <div class="row">
                <div class="col-md-12">
                    <div style="display: flex;justify-content: space-between;"> 
                        <div>
                            <button mat-button class="nav-bar-buttons" (click)="btnStore()"><mat-icon class="store-icon">store</mat-icon>STORE</button>
                            <button mat-button class="nav-bar-buttons" (click)="btnCollection()"><mat-icon class="collection-icon">collections_bookmark</mat-icon>COLLECTION</button>
                            <button mat-button class="nav-bar-buttons" (click)="btnCollection2()"><mat-icon class="collection-icon">collections_bookmark</mat-icon>COLLECTION 2</button>
                            <button mat-button class="nav-bar-buttons"><mat-icon class="battle-icon">whatshot</mat-icon>BATTLE</button>
                            <button mat-button class="nav-bar-buttons"><mat-icon class="rules-icon">sms_failed</mat-icon>RULES</button>
                        </div>
                        <div>
                            <button mat-raised-button color="primary" (click)="btnConnectWallet()"><mat-icon>account_balance_wallet</mat-icon>{{walletButtonText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>

<div style="height: 100v;" [ngClass]="{'hide-side-tool-bar': hideSideNavBar}">
    <mat-sidenav-container fxFlexFill class="nav-side-tool-bar" (click)="showSideNavBar()">
        <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
                <button mat-button (click)="btnStore()"><mat-icon>store</mat-icon>STORE</button>
                <button mat-button (click)="btnCollection();"><mat-icon>collections_bookmark</mat-icon>COLLECTION</button>
                <button mat-button (click)="btnCollection2();"><mat-icon>collections_bookmark</mat-icon>COLLECTION 2</button>
                <button mat-button ><mat-icon>whatshot</mat-icon>BATTLE</button>
                <button mat-button ><mat-icon>sms_failed</mat-icon>RULES</button>
                <button mat-raised-button color="primary" (click)="btnConnectWallet()"><mat-icon>account_balance_wallet</mat-icon>{{walletButtonText}}</button>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>