img {
  width: 100%;
  height: auto;
}

.card-skills {
  background-color: rgba(204, 196, 196, 0.8);
  margin-top: 15px;
}

.emphasis-text {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  align-items: center;
  margin-right: 10%;
  text-align: center;
}

.rarity-normal{
  color: #a8adb5;
}

.rarity-rare{
  color: #4681e0;
}

.rarity-epic{
  color: #e0ab24;
}

.rarity-legendary{
  color: #7f24e0;
}

.emphasis-text2 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}