img {
  width: 100%;
  height: auto;
}

.card-skills {
  background-color: rgba(204, 196, 196, 0.8);
  margin-top: 15px;
}

.emphasis-text {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  align-items: center;
  margin-right: 10%;
  text-align: center;
}

.rarity-common {
  color: #696664;
}

.rarity-uncommon {
  color: #2d8743;
}

.rarity-rare {
  color: #36a3ff;
}

.rarity-epic {
  color: #b02322
}

.rarity-legendary {
  color: #f2ad1a;
}

.rarity-mythic {
  color: #7f24e0;
}

.emphasis-text2 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}