<ngx-spinner type="square-jelly-box"></ngx-spinner>
<div class="row conteiner">
    <div class="col-md-12">
        <mat-card class="card-over">

            <div class="row" style="margin-bottom: 10px;">
                <mat-tab-group>
                    <mat-tab label="Last 24H">
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-title class="emphasis-text">Summoned Hereos</mat-card-title>
                                <mat-card-content>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-normal">
                                                                Normal
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">850</p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: gray">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-rare">
                                                                Rare
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">531</p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <!--repetir para todas raridades-->
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-epic">
                                                                Epic
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">410</p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <!--repetir para todas raridades-->
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-legendary">
                                                                Legendary
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">50</p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab label="7 days">
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-title class="emphasis-text">Summoned Hereos</mat-card-title>
                                <mat-card-content>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-normal">
                                                                Normal
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">5930
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: gray">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-rare">
                                                                Rare
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">3717
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <!--repetir para todas raridades-->
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-epic">
                                                                Epic
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">2870
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <!--repetir para todas raridades-->
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-legendary">
                                                                Legendary
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">290</p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab label="30 days">
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-title class="emphasis-text">Summoned Hereos</mat-card-title>
                                <mat-card-content>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-normal">
                                                                Normal
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">93530
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: gray">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-rare">
                                                                Rare
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">53417
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <!--repetir para todas raridades-->
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-epic">
                                                                Epic
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">38870
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: gray;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>

                                        <div class="col-md-3">
                                            <!--repetir para todas raridades-->
                                            <mat-card>
                                                <mat-card-header class="hero-card-header">
                                                    <div class="row hero-card-header-row">
                                                        <div class="col-md-8">
                                                            <mat-card-title class="emphasis-text rarity-legendary">
                                                                Legendary
                                                            </mat-card-title>
                                                        </div>
                                                    </div>
                                                </mat-card-header>
                                                <p class="div-center-itens emphasis-text" style="padding: 10px;">1120
                                                </p>
                                                <mat-card-content class="hero-card-content">
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                    <mat-icon style="color: blueviolet;">star</mat-icon>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div class="row">
                <div class="col-md-3 div-center-itens">
                    <img src="./assets/img/summon-portal.png">
                </div>
                <div class="col-md-9">
                    <mat-card style="height: 100%;">
                        <div class="row" style="margin-bottom: 5%;">
                            <div class="col-md-12 emphasis-text">
                                Try your luck and summon a new hero to help you in your battles and conquer fortunes!!!
                            </div>
                        </div>
                        <div class="row" style="height: 100%;">
                            <div class="col-md-4">
                                <mat-card class="div-center-itens">
                                    <div class="row div-center-itens">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <img src="./assets/img/Unknow_Hero.png">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:2%;">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <button mat-raised-button class="btn btn-success" (click)="btnSummonHero()">
                                                <mat-icon>paid</mat-icon> Summon a Hero
                                            </button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-4">
                                <mat-card class="div-center-itens">
                                    <div class="row div-center-itens">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <img src="./assets/img/Unknow_Hero.png">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:2%;">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <button mat-raised-button class="btn btn-success" (click)="btnSummonHero()">
                                                <mat-icon>paid</mat-icon> 10x Summon a Hero
                                            </button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-4">
                                <mat-card class="div-center-itens">
                                    <div class="row div-center-itens">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <img src="./assets/img/Unknow_Hero.png">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:2%;">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <button mat-raised-button class="btn btn-success" (click)="btnSummonHero()">
                                                <mat-icon>paid</mat-icon> 50x Summon a Hero
                                            </button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <!-- <div class="row justify-content-center">
                <div class="col-md-4 div-center-itens">
                    <div class="row">
                        <div class="col-md-10 div-center-itens">
                            <button mat-raised-button class="btn btn-success" (click)="btnSummonHero()">
                                <mat-icon>paid</mat-icon> Summon a Hero
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </mat-card>
    </div>
</div>