.card-over {
    background-color: rgba(204, 196, 196, 0.5);
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}

.flash-white-screen{
    opacity:0.9;
    background-color:rgb(255, 255, 255);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

img {
    width: 100%;
    height: auto;
}

.div-center-itens {
    text-align: center;
}


.user-balance{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    font-variant: small-caps;
    color: #C3C3C3;
}

.mat-buy-button {
    background-color: #4C4B63;
    color: #C3C3C3;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
}

.blink_screen {
    animation: blinker 1s linear;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }