.conteiner {
    background-image: url("../../../assets/img/main-background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.card-over {
    background-color: rgba(204, 196, 196, 0.5);
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

.emphasis-text {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    align-items: center;
    text-align: center;
}

.rarity-normal {
    color: #7a7a7a;
    background-color: black;
}

.rarity-rare {
    color: #4681e0;
}

.rarity-epic {
    color: #e0ab24
}

.rarity-legendary {
    color: #7f24e0;
}

.hero-card-header {
    background: black;
    margin-right: 0;
    padding-right: 0;
}

.hero-card-header-row {
    width: 100%;
}

.hero-card-content {
    background: black;
    margin: 0;
    text-align: center;
}

.div-center-itens {
    text-align: center;
}