<ngx-spinner type="square-jelly-box"></ngx-spinner>
<div class="flash-white-screen" *ngIf="blink"></div>

<div class="row">
    <div class="col-md-12">
        <mat-card class="card-over">

            <div class="row justify-content-center" style="margin-bottom: 20px;display: none;">
                <div class="col-xxl-10 col-xl-12">
                    <mat-tab-group [selectedIndex]="-1">
                        <mat-tab label="Your Balance" [disabled]="true">
                            <mat-card>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <mat-card>
                                            <mat-card style="margin-bottom: 3px;background-color: #C3C3C3">
                                                <div class="row"
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <div class="col-lg-2 col-6">
                                                        <img src="./assets/img/coin_icon.png">
                                                    </div>
                                                    <div class="col-lg-8"
                                                        style="display: flex; justify-content: center; align-items: center;">
                                                        <mat-card style="background-color: #4C4B63">
                                                            <p class="user-balance">180 Coins</p>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-lg-2 col-6">
                                                        <img src="./assets/img/coin_icon.png">
                                                    </div>
                                                </div>
                                            </mat-card>
                                            <mat-card style="background-color: #C3C3C3">
                                                <div class="row"
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <div class="col-lg-2 col-6">
                                                        <img src="./assets/img/summon_scroll.png">
                                                    </div>
                                                    <div class="col-lg-8"
                                                        style="display: flex; justify-content: center; align-items: center;">
                                                        <mat-card style="background-color: #4C4B63">
                                                            <p class="user-balance">{{userScrolls}} Scrolls</p>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-lg-2 col-6">
                                                        <img src="./assets/img/summon_scroll.png">
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </mat-card>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <mat-card>
                                            <mat-card style="margin-bottom: 3px;background-color:  #C3C3C3">
                                                <div class="row"
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <div class="col-lg-2 col-6">
                                                        <img src="./assets/img/single_coin_icon.png">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input #coinsInput type="number" class="form-control"
                                                            placeholder="Coins Amount" />
                                                    </div>
                                                    <div class="col-lg-5"
                                                        style="display: flex; justify-content: center; align-items: center;">
                                                        <button mat-button color="buy-button" (click)="btnBuyCoins()">
                                                            <mat-icon>paid</mat-icon> Buy Coins <mat-icon>paid
                                                            </mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </mat-card>
                                            <mat-card style="background-color:  #C3C3C3">
                                                <div class="row"
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <div class="col-lg-2 col-6">
                                                        <img src="./assets/img/closed_scroll.png">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input #scrollsInput type="number" class="form-control"
                                                            placeholder="Scrolls Amount" />
                                                        <span class="text-secondary">25x coins per scroll</span>
                                                    </div>
                                                    <div class="col-lg-5"
                                                        style="display: flex; justify-content: center; align-items: center;">
                                                        <button mat-button color="buy-button" (click)="btnBuyScrolls()">
                                                            <mat-icon>paid</mat-icon> Buy Scrolls <mat-icon>paid
                                                            </mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </mat-card>
                                    </div>
                                </div>
                            </mat-card>
                        </mat-tab>
                        <mat-tab label="Buy Assets" [disabled]="true">
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>





            <div class="row justify-content-center">
                <div class="col-md-8">
                    <img [src]="summonPortalImg[summonPortalImgIndex]">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 div-center-itens">
                    <button mat-raised-button class="btn btn-success" (click)="btnSummonHero()">
                        <mat-icon>paid</mat-icon> Summon a Hero
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>