.conteiner {
    background-image: url("../../../assets/img/main-background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.card-over {
    background-color: rgba(204, 196, 196, 0.5);
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

.link {
    cursor: pointer;
}

.emphasis-text {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2vw;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    align-items: center;
    text-align: center;
}

.rarity-normal {
    color: #7a7a7a;
}

.rarity-rare {
    color: #4681e0;
}

.rarity-epic {
    color: #e0ab24
}

.rarity-legendary {
    color: #7f24e0;
}

.class-text {
    color: #ffffff;
}

.amount-top-right {
    position: absolute;
    color: #504d4d;
    top: 8px;
    right: 20px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    align-items: center;
    text-align: center;
}

.hero-type-main-card {
    padding: 0px 0px 15px 0px;
}

.hero-main-row {
    margin: 15px 15px 15px 15px;
}

.hero-card {
    padding: 0;
    margin-bottom: 10px;
}

.hero-card-header {
    background: black;
    margin-right: 0;
    padding-right: 0;
}

.hero-card-content {
    background: black;
    margin: 0;
    text-align: center;
}

.hero-card-header-row {
    width: 100%;
}

.hero-card-actions {
    background-color: grey;
    margin: 0;
    padding: 0;
    color: white;
}

.hero-action-button {
    width: 100%;
}

.mat-badge-content {
    background: rgb(55, 148, 55)
}

.hero-type-main-row {
    margin-bottom: 15px;
}

.filled-star-color-icon {
    color: blueviolet;
}

.empty-star-color-icon {
    color: gray;
}

.icon-display {
    transform: scale(2);
    color: gray;
}

.icon-display:hover {
    color: black;
}