<ngx-spinner type="square-jelly-box"></ngx-spinner>
<!-- <mat-card class="card-over">
    <div class="row justify-content-center" style="margin-top: 10%;">
        <div class="col-10">
            
        </div>
    </div>
</mat-card> -->

<div class="row justify-content-center">
    <div class="col-md-7 logo" style="text-align: center;">
        <!-- <mat-card class="logo-card-over"> -->
        <img src="./assets/img/logo.png">
        <!-- </mat-card> -->
    </div>


</div>

<div class="row">
    <!-- esqueda -->

    <div class="row">
        <div class="col-md-2 left_hero_1">
            <img class="hero_img_size" src="./assets/img/background_heroes/Knight_Uncommon.png">
        </div>


        <div class="col-md-2 left_hero_2">
            <img class="hero_img_size" src="./assets/img/background_heroes/Mage_Epic.png">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 left_hero_3">
            <img class="hero_img_size" src="./assets/img/background_heroes/Barbarian_Mythic.png">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 left_hero_4">
            <img class="hero_img_size" src="./assets/img/background_heroes/Barbarian_Rare.png">
        </div>
    </div>

    <!-- direita -->
    <div class="row">
        <div class="col-md-2 right_hero_1">
            <img class="hero_img_size" src="./assets/img/background_heroes/Mage_Mythic.png">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 right_hero_2">
            <img class="hero_img_size" src="./assets/img/background_heroes/Knight_Mythic.png">
        </div>
    </div>
</div>