.conteiner {
    background-image: url("../../../assets/img/main-background2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    height: 100%;
    width: 100%;
    margin: 0;
}