img {
    width: 40%;
    height: auto;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 109vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .img-container {
    text-align: center;
    display: block;
  }