/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
  background-color: #313131;
  overflow-x: hidden;
  /* overflow: hidden; */
  margin: 0;
  background-image: url("./assets/img/main-background_empty.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body {
  font-family: Roboto,
    "Helvetica Neue", sans-serif;
}

.custom-dialog>mat-dialog-container {
  background-color: rgba(255, 255, 255, 0.0001);
}

.mat-tab-label {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  font-variant: small-caps;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 100%
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4C4B63;; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56565c;; 
}

.mat-tab-group .mat-ink-bar{
      display: none;
}
/* .mat-tab-labels .mat-tab-label-active{
  background-color: slateblue;
 } */